.example-spacer {
    flex: 1 1 auto;
}

span{
    font-size: 26px;
    margin: 2%;
}

mat-toolbar{
    background-color: #611B6E;
}

.escudoBanderaCordoba{
    height: 40px;
    margin-left: 1%;
}

.name{
    cursor: pointer;
}