#mainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.sign_up_form{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.rowDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}